<!-- Header -->
<header class="bg-white md:fixed w-full z-10">
  <nav class="container mx-auto px-4 py-4 flex items-center justify-center md:justify-between">
    <div class="text-2xl font-normal text-gray-600 flex gap-2">
      <img src="/logo.svg" class="w-12"/> <span><b>Comu</b>link</span>
    </div>
    <div class="hidden md:flex space-x-6">
      <a href="como-funciona" class="text-blue-600 px-4 py-2 rounded-lg transition-colors">Como Funciona</a>
      <a [href]="contato" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition-colors">Contato</a>
    </div>
  </nav>
</header>

<!-- Hero Section -->
<section class="min-h-[70vh] flex flex-col justify-center pt-14 pb-12 md:pt-32 md:pb-24 px-4">
  <div class="container mx-auto text-center h-full ">
    <h1 class="text-3xl md:text-5xl font-normal text-gray-800 mb-6 fade-in leading-7 tracking-tight md:leading-10">
      <span class="text-blue-500">Seu condomínio</span><br /> na internet de forma elegante
    </h1>
    <p class="text-xl text-gray-500 mb-8 max-w-2xl mx-auto fade-in leading-5">
      Facilite o acesso a informações essenciais para moradores e visitantes com um microsite personalizado.
    </p>
    <div class="w-full mb-8 flex items-center justify-center">
      <img src="/images/homem-segurando-celular.png" class="h-auto max-h-[500px]" alt="Imagem de demonstração">
    </div>
    <a [href]="contato" class="inline-block bg-blue-600 text-white px-8 py-4 rounded-lg text-lg font-semibold hover:bg-blue-700 transition-colors fade-in">
      Solicite uma demonstração
    </a>
  </div>
</section>

<!-- Recursos Section -->
<section id="recursos" class="py-8 bg-white">
  <div class="container mx-auto px-4">
    <h2 class="text-center text-2xl md:text-3xl font-normal text-gray-800 mb-8 fade-in leading-7 tracking-tight md:leading-10">
      Recursos
    </h2>
    <div class="grid md:grid-cols-3 gap-8">
      <div class="p-6 rounded-xl bg-gray-50 hover:shadow-lg transition-shadow">
        <div class="text-blue-600 text-4xl mb-4">📱</div>
        <h3 class="text-xl font-semibold mb-3">Site Responsivo</h3>
        <p class="text-gray-600">Acesse de qualquer dispositivo com uma experiência perfeita.</p>
      </div>
      <div class="p-6 rounded-xl bg-gray-50 hover:shadow-lg transition-shadow">
        <div class="text-blue-600 text-4xl mb-4">📢</div>
        <h3 class="text-xl font-semibold mb-3">Comunicados</h3>
        <p class="text-gray-600">Envie avisos importantes para todos os moradores instantaneamente.</p>
      </div>
      <div class="p-6 rounded-xl bg-gray-50 hover:shadow-lg transition-shadow">
        <div class="text-blue-600 text-4xl mb-4">📂</div>
        <h3 class="text-xl font-semibold mb-3">Arquivos Importantes</h3>
        <p class="text-gray-600">Tenha em mãos manuais, projetos, regimento e muito mais.</p>
      </div>
      <div class="p-6 rounded-xl bg-gray-50 hover:shadow-lg transition-shadow">
        <div class="text-blue-600 text-4xl mb-4">🌐</div>
        <h3 class="text-xl font-semibold mb-3">Links Rápidos</h3>
        <p class="text-gray-600">Tenha acessos e contatos importantes na palma da mão, de forma rápida.</p>
      </div>
    </div>
  </div>
</section>

<!-- FAQ Section -->
<section id="faq" class="py-8 bg-gray-100">
  <div class="container mx-auto px-4">
    <h2 class="text-center text-2xl md:text-3xl font-normal text-gray-800 mb-8 fade-in leading-7 tracking-tight md:leading-10">Perguntas Frequentes</h2>
    <div class="max-w-3xl mx-auto space-y-6 mt-2">
      <div class="bg-white p-6 rounded-lg shadow-sm">
        <h3 class="text-lg font-semibold mb-2">Quanto custa o serviço?</h3>
        <p class="text-gray-600">Oferecemos planos flexíveis que se adaptam ao tamanho do seu condomínio. Entre em contato para uma cotação personalizada.</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-sm">
        <h3 class="text-lg font-semibold mb-2">Quanto tempo leva para implementar?</h3>
        <p class="text-gray-600">Seu microsite pode estar no ar em até 3 horas após a contratação e fornecimento das informações necessárias.</p>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-sm">
        <h3 class="text-lg font-semibold mb-2">Oferece suporte técnico?</h3>
        <p class="text-gray-600">Sim, oferecemos suporte técnico por email e whatsapp.</p>
      </div>
    </div>
  </div>
</section>

<!-- Contato Section -->
<section id="contato" class="py-32 bg-white">
  <div class="container mx-auto px-4 text-center">
    <h2 class="text-center text-2xl md:text-3xl font-normal text-gray-800 fade-in leading-7 tracking-tight md:leading-10 mb-8">Pronto para começar?</h2>
    <p class="text-xl text-gray-500 mb-8 max-w-2xl mx-auto fade-in leading-5">
      Entre em contato conosco e descubra como podemos ajudar seu condomínio.
    </p>
    <a href="mailto:wender_net@hotmail.com"
      class="inline-block bg-blue-600 text-white px-8 py-4 rounded-lg text-lg font-semibold hover:bg-blue-700 transition-colors">
      Falar com um especialista
    </a>
  </div>
</section>

<!-- Footer -->
<footer class="bg-gray-900 text-white py-8">
  <div class="container mx-auto px-4 text-center">
    <p>&copy; {{ anoAtual }} Comulink. Todos os direitos reservados.</p>
  </div>
</footer>