<main class="w-full min-h-screen flex flex-col items-center justify-start bg-gray-200 px-4 py-2">
  <div class="w-full flex flex-col items-center justify-start max-w-screen-md gap-4">
    <div class="w-full flex flex-col items-center justify-start gap-4">
      <div class="w-full overflow-hidden h-64 flex items-center justify-center rounded-lg">
        <img src="/images/banner.png" alt="banner" class="w-full">
      </div>
      <a href="/" class="-mt-24 bg-gray-100 overflow-hidden border-6 border-white shadow-lg w-32 h-32 rounded-full p-3">
        <img src="/images/logo.png" alt="Logo" class="w-full">
      </a>
      <h1 class="text-xl font-bold mb-4 align-center uppercase text-gray-700">Condomínio TSC 1 - Cambé</h1>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="w-full flex flex-col items-center justify-start max-w-screen-md h-5 mt-10">
    <p class="text-xs text-gray-500 flex items-center justify-center gap-1">
      Feito com <lucide-angular [img]="Heart" class="w-4 h-4 text-red-500"></lucide-angular> por <a
        href="mailto:wender_net@hotmail.com" class="hover:underline">ajornadadoprogramador.com.br</a>
    </p>
  </div>
</main>